[Service]
ExecStart=/usr/bin/node /root/ble/app.js
Restart=on-abort
RestartSec=60
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=eddystone
User=root
Group=root

[Install]
WantedBy=multi-user.target
